body {
  background-color: #f4f4f4;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  place-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}